block direct
  each message, i in directMessages
    if (directMessages[i].sender === '233073127')
      li.app--message--me
        .app--avatar(style=`background-image: url(${user.profile_image_url})`)
          img(src="public/images/m-spore.png")
        p.app--message--text #{directMessages[i].message}
        p.app--message--timestamp #{directMessages[i].date}
    else
      li.app--message
        .app--avatar(style=`background-image: url(${followers[0].imgUrl})`)
          img(src="public/images/f-spore.png")
        p.app--message--text #{directMessages[i].message}
        p.app--message--timestamp #{directMessages[i].date} 

    